<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <title>editableList demo</title>
    <script src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="js/editableList.js"></script>

    <style>
        li{
            line-height: 25px;
        }
        input[type=text] {
            border: 1px solid #eee;
        }

        [required] {
            border-bottom: 1px solid red !important;
        }

        input.ng-dirty.ng-invalid.ng-invalid-required {
            border-color: red;
        }


        input.ng-dirty.ng-valid.ng-valid-required {
            border-bottom: 1px solid limegreen !important;
        }
    </style>
</head>
<body ng-controller="mainCtrl">
<input type="button" value="Get List" ng-click="getList()" ng-hide="editObj"/>

<ul>
    <li ng-repeat="l in list | filter:myfilter" ng-mouseover="showEditBtn = true" ng-mouseleave="showEditBtn = false">
    <!--<li ng-repeat="l in list | myFilter" ng-mouseover="showEditBtn = true" ng-mouseleave="showEditBtn = false">-->
        {{l.name}}: {{l.Country | showCountryName}}({{l.Country}})
        <input type="button" value="edit" ng-click="doEdit(l)" ng-show="!editObj && showEditBtn"/>
    </li>
</ul>

<div ng-show="editObj">

    <form name="editForm" role="form" novalidate>
        name:
        <input type="text" name="" id="" ng-model="editObj.name" required/>


        <select style="width: 195px; margin: 0 0 0 0; padding: 7px 7px 6px; font-size: 11px;" ng-model="editObj.Country"
                ng-options="m.Country as m.CountryName for m in CountryList">
            <option value="0">请选择</option>
        </select>

        <input type="submit" value="done" ng-click="doneEdit()" ng-disabled="editForm.$invalid"/>
        <input type="button" value="cancel" ng-click="cancelEdit()"/>
    </form>
</div>


</body>
</html>
